<!-- Final Step -->
<div class="row ">
  <div class="col-md-12 final-step-panel">

    <!-- Header-->
    <h2 class="text-center">Awesome! Your Post is now Waiting for Approval! </h2>
    <h2 class="text-center">Don’t Worry it Won’t take a Day </h2>
    <h4 class="text-center">We are checking all the posts to maintain quality Experience to both Sellers and Buyers</h4>

    <!-- divider -->
    <div class="row divider" ><span>For the Meantime</span></div>

    <!-- User Options -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4 col-sm-4"><a href=""><div class ="users-choice fb" ><img src="assets/img/fb-ico.png"> Check our Fanpage</div></a></div>
        <div class="col-md-4 col-sm-4"><a href=""><div class ="users-choice dash" >Go to Dashboard </div></a></div>
        <div class="col-md-4 col-sm-4"><a href=""><div class ="users-choice browse" >Browse Shirts</div></a></div>
      </div>
    </div>

  </div>
</div>