<!-- Pricing -->
<div class="row ">
  <div class="clearfix form2" >
    <div class="col-md-9">

      <!--  form -->
      <form>
          <label class ="title-details">Brand Name <small style="color: red" ng-show="brand.error.name">{{brand.error.name}}</small></label><br/>
          <input type ="text" ng-model="brand.name" class ="brands">
          <label class ="title-details">Email Address <small style="color: red" ng-show="brand.error.email">{{brand.error.email}}</small></label><br/>
          <input type ="text" ng-model="brand.email" class ="brands">
          <label class ="title-details">Location <small style="color: red" ng-show="brand.error.location">{{brand.error.location}}</small></label><br/>
          <div class="row">
          
            <div class="col-md-12">
              <div class="model-select-box">
               <div class="model-select-text" data-value="">{{selected_location}}</div>
                  <ul class="model-select-option">
                      <li ng-repeat="location in details.locations" ng-click="addLocation(location.name)" data-option="{{$index}}">{{location.name}}</li>
                  </ul>
              </div>
            </div>
           
          </div>
          <label class="title-details">Contact Number 
              <small style="color: red" ng-show="brand.error.phone">{{brand.error.phone}}</small> 
              <span>- this will be use so seller can contact you directly</span> 
          </label><br/>
           
          <ul class="list-inline " ng-repeat="phone in phones">              
              <li>{{phone.network}}</li>
              <li>{{phone.number}}</li>
              <li><a ng-click="removePhone(phone.network)">Remove</a></li>
          </ul>
         
              
          <ul class="list-inline add-size">
            <li>
              <select class="drop-sizes pull-width phone_network" >
                <option value="smart" selected="">Smart</option>
                <option value="sun">Sun</option>
                <option value="globe">Globe</option>
                <option value="phone">Phone</option>
              </select>
            </li>
            <li><input type ="text"  placeholder ="09-48-xxx-xxxx" class ="brands phone_number" ></li>
            <li>
                <a href="" class="add-sizes-link" ng-click="addPhone()">+ Add Number</a> 
                <small style="color: red" ng-show="phone_error"> should be number</small> 
            </li>
          </ul>
          <button class="btn btn-lg pull-right" ng-click="changePostStep2(brand)">Preview</button>
      </form>
    </div>

    <!-- information -->
    <div class="col-md-3">
      <h5 class ="dblue">Why do we ask this information?</h5>
      <p>
        This information will be use so buyers 
        that are interested on your shirt will be 
        able to contact you directly.
      </p>
      <p>
        We will also use this to create your
        account so you an easily add shirts in
        the future.
      </p>
    </div>
  </div>
</div>
<script>
    $(function() {
        selectModel();
    });
</script>