        <div class="col-md-12 details-wrapper">
          <table>
            <tr>
              <!-- Form for tshirt details -->
                <td class="col-md-9">

                  <!-- Shirt Image -->
                  <label class ="title-details">Shirt Image <small style="color: red" ng-show="tee.error.image">{{tee.error.image}}</small> </label>
                  <fieldset>
                    <input class ="img-size" type="text" name="filename" placeholder="image should be atleast 800x400px" disabled>
                    <input type="button" ng-click="addPhoto()" id="arquivo" value ="upload">
                  </fieldset><br/>
                  <em>Download our PSD template <a href="" class ="links">here</a></em><br/>
                  <small style="color: red" ng-show="tee.error.photo">{{tee.error.photo}}</small>
                  <!-- Preview Image -->
                  <div class="tee_preview"></div>

                  <!-- Shirt Name -->
                  <label class ="title-details">Shirt Name <small style="color: red" ng-show="tee.error.name">{{tee.error.name}}</small></label>
                  <input  type ="text" name="shirt_name" ng-model="tee.name">
                  <label class ="title-details">Type <small style="color: red" ng-show="tee.error.type">{{tee.error.type}}</small></label>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="model-select-box">
                       <div class="model-select-text" data-value="">{{tee.selected_type}}</div>
                          <ul class="model-select-option">
                               <li ng-click="changeType(type.id, type.type_name)" ng-repeat="type in details.types" value="{{type.id}}" data-option="{{type.id}}">{{type.type_name}}</li>                               
                          </ul>
                      </div>
                    </div>
                  </div>

                  <!-- Occasional Category -->
                  <label class ="title-details">Occasional Category <span>- optional</span></label>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="model-select-box">
                       <div class="model-select-text" data-value="">{{tee.selected_occasion}}</div>
                          <ul class="model-select-option">
                               <li ng-click="changeOccasion(occasion.id, occasion.name)" ng-repeat="occasion in details.occasions" data-option="{{occasion.id}}">{{occasion.name}}</li>                             
                          </ul>
                      </div>
                    </div>
                  </div>

                  <!-- Fabric Used -->
                  <label class ="title-details">Fabric Used<span>- optional</span></label>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="model-select-box">
                       <div class="model-select-text" data-value="">{{tee.selected_fabric}}</div>
                          <ul class="model-select-option">
                               <li ng-click="changeFabric(fabric.id, fabric.name)" ng-repeat="fabric in details.fabrics" data-option="{{fabric.id}}">{{fabric.name}}</li>
                          </ul>
                      </div>
                    </div>
                  </div>

                  <!-- Sizes Available -->
                  <label class ="title-details">Sizes Available  <small style="color: red" ng-show="tee.error.size">{{tee.error.size}}</small></label>
                  <ul class="list-inline sizes-wrapper">
                        <li ng-repeat="size in details.sizes"><p><input type="checkbox" id="size{{$index}}"/><label ng-click="selectSize(size.id)" for="size{{$index}}">{{size.name}}</label></p></li>
                        <li><p><input type="checkbox" id="sizex"/><label for="sizex" ng-click="showSize()">Other Sizes</label></p></li>
                  </ul>

                  <ul class="list-inline add-size" ng-if="other_size">
                      <li ng-repeat="a in other_size_selected"><a href="" class ="add-sizes-link" ng-click="removeSize(a)"> {{a}}</a></li>                     
                    <li>
                      <select name="other_size" class ="drop-sizes other_sizes">
                        <option ng-repeat="osize in details.other_sizes" value="{{osize.size}}">{{osize.size}}</option>
                        </select>
                    </li>
                    <li><a href="" class ="add-sizes-link" ng-click="addSize()">+ Add size</a></li>
                  </ul>
                  
                  <!-- Gender -->
                  <label class ="title-details">Gender Available <small style="color: red" ng-show="tee.error.gender">{{tee.error.gender}}</small></label>
                  <ul class="list-inline add-size">                     
                      <li ng-repeat="gender in details.gender"><p><input type="checkbox" id="gender{{$index}}"/><label ng-click="addGender(gender.name)" for="gender{{$index}}">{{gender.name}}</label></p></li>                     
                  </ul>

                  <!-- Colors Available -->
                  <label class ="title-details">Colors Available <small style="color: red" ng-show="tee.error.color">{{tee.error.color}}</small></label>
                  
                  <ul ng-if="selected_colors" class="list-inline color-pallet">
                      <li ng-repeat="color in selected_colors" ng-click="removeColor(color)"><a href="" class ="cl-pallet" style="background-color: {{color}}"></a></li>
                  </ul>
                  <ul class="list-inline color-pallet">
                      <li ng-repeat="color in colors" ng-click="addColor(color)"><a href="" class ="cl-pallet" style="background-color: {{color}}"></a></li>
                  </ul>
                  <a  ng-click="showPicker()" class ="pull-right links">Choose other colors</a>
                     <div class="clearfix"></div>                      
                     <div ng-if="picker" class="form-group col-md-3 pull-right">
                        <input type="text" id="hue-demo" class="cpicker" data-control="hue" value="#ff6161">
                        <label ng-click="addNewColor()"> + Add</label>
                    </div>
                     
                    
                  <div class="clearfix"></div>
                    <!-- Price -->
                    <label class ="title-details">Price <small style="color: red" ng-show="tee.error.price">{{tee.error.price}}</small></label>
                    <input type ="text" placeholder ="P" ng-model="tee.price">

                    <!-- Preview Button -->
                    <div class="btn-preview-wrapper">
                        <!-- <a href="preview" class ="btn btn-lg pull-right">Preview</a> -->
                        <button href="preview" ng-click="changePostStep(tee,2)" class ="btn btn-lg pull-right">Proceed</button>
                    </div>  
                </td>
             
              <!-- sample templates -->
              <td class="col-md-3 hidden-xs">
                  <p class ="title-sample">Sample Template</p>
                  <img src="assets/img/sample-templates.png" class ="img-responsive">
                  <div class ="sample-template-info">
                    <small class="text-center"><em>(Click to view original size)</em></small>
                    <p class ="text-center"><em>Download our 800x400px PSD Template <a href="" class ="links">here</a></em></p>
                </div>
              </td>
        
            </tr>
          </table>
        </div>
    <script type="text/javascript">
        $(function() {
            selectModel();
        });
    </script>