<!DOCTYPE html>
<html lang="en" ng-app="teeshirtApp">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="">

        <title>Teeshirts.ph</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/fonts.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="assets/css/index.css">
        <link rel="stylesheet" type="text/css" href="assets/css/post.css">
        <link rel="stylesheet" type="text/css" href="assets/css/shirtdetails.css">
        <link rel="stylesheet" type="text/css" href="assets/css/brand.css">
        <link rel="stylesheet" type="text/css" href="assets/css/contact.css">
        <link rel="stylesheet" type="text/css" href="assets/css/forms.css">
        <link rel="stylesheet" type="text/css" href="assets/css/media-sizes.css">
        <link rel="stylesheet" type="text/css" href="assets/css/privacy-policy.css">
        <link rel="stylesheet" type="text/css" href="assets/css/dboard.css">
        <link rel="stylesheet" type="text/css" href="assets/css/edit-profile.css">


        <!-- internal scripts -->
        <script type="text/javascript" src="assets/libs/jquery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/libs/angular/angular.min.js"></script>
        <script type="text/javascript" src="assets/libs/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="assets/libs/angular/ngStorage.min.js"></script>
       
        <!--internal libraries-->
        <script type="text/javascript" src="assets/libs/color-picker/jquery.minicolor.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/libs/color-picker/jquery.minicolor.css">
        
        <!-- external libraries -->        
        <script src="http://pc035860.github.io/angular-easyfb/angular-easyfb.min.js"></script>
        
        <!-- app resources -->
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/modules/shirts/controller.js"></script>
        <script type="text/javascript" src="app/modules/auth/controller.js"></script>
        <script type="text/javascript" src="app/modules/dashboard/controller.js"></script>
        <script type="text/javascript" src="app/services/homepageServices.js"></script>
        
    </head>
    <body ng-controller="mainController" style="padding-top: {{body_padding}}">  
        
        <input type="file" class="tee-upload" style="display: none" accept="image/x-png, image/gif, image/jpeg" />
        <!--header section-->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-show="header" ng-include="templates.header"></div>

        <div  ng-view ></div>
        <!--footer section-->
        <section class ="footer-wrapper" ng-show="footer" id="footer" ng-include="templates.footer"></section>


    <script type="text/javascript">
        function selectModel() {
            var $box = $('div.model-select-box');
            var $option = $('ul.model-select-option', $box);
            var $txt = $('div.model-select-text', $box);
            var speed = 10;
            $txt.click(function(e) {
                $option.not($(this).siblings('ul.model-select-option')).slideUp(speed, function() {
                    int($(this));
                });
                $(this).siblings('ul.model-select-option').slideToggle(speed, function() {
                    int($(this));
                });
                return false;
            });
            $option.find('li')
                .each(function(index, element) {
                    if ($(this).hasClass('seleced')) {
                        $(this).addClass('data-selected');
                    }
                })
                .mousedown(function() {
                    $(this).parent().siblings('div.model-select-text').text($(this).text())
                        .attr('data-value', $(this).attr('data-option'));
                    $option.slideUp(speed, function() {
                        int($(this));
                    });
                    $(this).addClass('seleced data-selected').siblings('li').removeClass('seleced data-selected');
                    return false;
                })
                .mouseover(function() {
                    $(this).addClass('seleced').siblings('li').removeClass('seleced');
                });
            $(document).click(function(e) {
                $option.slideUp(speed, function() {
                    int($(this));
                });
            });
            function int(obj) {
                obj.find('li.data-selected').addClass('seleced').siblings('li').removeClass('seleced');
            }
        }
        $(function() {
            setTimeout(function () {
                selectModel();
            }, 10);
        })
    </script>
    </body>
</html>