<ul class="list-group shirtdetails">
    <li class="list-group-item detail-header">
      <span class="badge">&#8369; {{details.price}}</span> <span>Price:</span>
    </li>
    <li class ="list-group-item">
      <h5>Shirt Details</h5>
      <div class="row">
        <div class="col-md-12">
          <p>Sizes Available</p>
          <ul class="list-inline">
            <li class ="sized" ng-repeat="size in details.sizes">{{size}}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Sizes Available</p>
          <ul class="list-inline">
            <li class ="cl-avail wh"></li>
            <li class ="cl-avail bl"></li>
            <li class ="cl-avail bu"></li>
            <li class ="cl-avail sk"></li>
            <li class ="cl-avail rd"></li>
            <li class ="cl-avail gr"></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Sizes Available</p>
          <ul class="list-inline">
            <li class ="gender" ng-repeat="gender in details.shirt_gender">{{gender}}</li>
          </ul>
        </div>
      </div>
    </li>
    <li class ="list-group-item">
        <div class="panel " id="accordion">
            <a class ="more-detail" ng-click="moreDetails()"  href="" data-toggle="collapse">
              More Details <i class="fa fa-angle-down"></i>
            </a>
            <div  class="dcollapse" style="display:none;">
                {{details.shirt_description}}
            </div>
      </div>
    </li>
    <li class ="list-group-item clearfix seller-info">
        <div class="media">
          <a class="pull-left" href="#">
            <img src="assets/img/img-title.png" alt="">
          </a>
          <div class="media-body">
            <h5>By: {{details.brand.brand_name}}</h5>
            <small>{{details.brand.location}}</small>
          </div>
        </div>
        <div class="row seller-contact">

          <div class="col-md-12">Contact Seller
            <table>
              <tr ng-repeat="contact in details.brand.contact">
                <td ><span class ="glyphicon glyphicon-phone"></span></td>
                <td>{{contact.network}}</td>
                <td>:</td>
                <td><span class ="ph-num">{{contact.contact_number}}</span></td>
              </tr>
            
            </table>
            <p class ="tell-num"><span class ="glyphicon glyphicon-earphone"></span> 032 - 418 - 0288</p>
          </div>
        </div>
        <button class ="btn btn-lg btn-send-email"><span class ="glyphicon glyphicon-envelope"></span> Send Seller An Email</button>
    </li>

  </ul>

  <!-- contact emails -->

  <div class ="clearfix support-wrapper">
    <div class="col-md-12">
      <p><strong>Got Questions?</strong> We can help!</p>
      <p><a class="links">Check Our FAQs</a></p>
      <p><a class="links">Contact Us</a></p><br/>
      <p>hello@teeshirts.ph</p>
    </div>
  </div>