<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <nav class ="product-links" id="myTab">
        <a ng-click="shirtFilter('all')" ng-class="{'active': active_filter == 'all'}" class ="navigator" href="" >All</a>
        <a ng-click="shirtFilter('latest')" ng-class="{'active': active_filter == 'latest'}" class ="navigator" href="" >Latest</a>
        <a ng-click="shirtFilter('male')" ng-class="{'active': active_filter == 'male'}" class ="navigator" href="" >Boys</a>
        <a ng-click="shirtFilter('female')" ng-class="{'active': active_filter == 'female'}" class ="navigator" href="" >Girls</a>
      </nav>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 full-width">
          <div class="model-select-box home-select">
           <div class="model-select-text" data-value="">{{selected_filter_type}}</div>
                <ul class="model-select-option home-select-option">
                    <li ng-repeat="type in sfilter.types" ng-click="changeFilterType(type)">{{type}}</li>
                    <!--  <li data-option="2">sELECT-02</li>
                     <li data-option="3">sELECT-03</li>
                     <li data-option="4">sELECT-04</li>
                     <li data-option="5">sELECT-05</li> -->
                </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 full-width">
          <div class="model-select-box home-select">
           <div class="model-select-text" data-value="">{{selected_filter_category}}</div>
                <ul class="model-select-option home-select-option">
                    <li ng-repeat="category in sfilter.categories" ng-click="changeFilterCategory(category)">{{category}}</li>
                </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<script>
    $(function() {
        selectModel();
    });
</script>