  <div class="container">
    <div class="row">
      <div class="col-md-6">
          
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 full-width">
              <label>Categories</label>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 half-width">
                  <p><a href="">Abstract</a></p>
                  <p><a href="">Halloween</a></p>
                  <p><a href="">Christmass</a></p>
                  <p><a href="">Cartoon Character</a></p>
                  <p><a href="">Movie</a></p>
                  <p><a href="">Summer</a></p>
                  <p><a href="">Professional</a></p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 half-width">
                  <p><a href="">Job Shirt</a></p>
                  <p><a href="">Rumors</a></p>
                  <p><a href="">Funny</a></p>
                  <p><a href="">Lovers</a></p>
                  <p><a href="">Simple</a></p>
                  <p><a href="">Clean</a></p>
                  <p><a href="">Tribal</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 full-width">
              
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6 half-width">
                <label>Types</label>
                <p><a href="">Sleeve less</a></p>
                <p><a href="">Hoodies</a></p>
                <p><a href="">Tshirt</a></p>
                <p><a href="">Dress</a></p>
                <p><a href="">Long sleeve</a></p>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 half-width">
                <label>Others</label>
                <p><a href="">Looking for Printer</a></p>
                <p><a href="">Design for Sale</a></p>
              </div>
            </div>
            </div>
          </div>

      </div>
      <div class="col-md-6 raffle-wrapper">
          <div class="clearfix promo-wrapper-top"></div>
          <div class ="clearfix">
            <div class="col-md-3">
              <img src="assets/img/promo.png">
            </div>
            <div class="col-md-9">
              <h5 class ="promo-title">Win this awesome Hoodie</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              <button class ="btn btn-sm btn-promo">Join Now</button>
            </div>
          </div>
          <div class="clearfix promo-wrapper-bottom"></div>
      </div>
    </div>
  </div>


