
    <div class ="col-md-3 col-sm-6" ng-repeat="shirt in shirtlisting | limitTo:limit" ng-click="showShirtDetails(shirt.id,shirt.shirt_name)">
      <div class ="clearfix shirts">
        <img src="assets/img/star.png" class ="badges">
        <div class ="shirts-img">
          <img src="assets/img/tshirt-preview.png">
        </div>
        <div class ="price-wrapper clearfix">
          <span class ="pull-left">{{shirt.price}}</span>
          <a class ="pull-right"href="">{{shirt.share}}</a> &nbsp;
          <i class="fa  pull-right fa-share-alt"></i> &nbsp;
          <a class ="pull-right"href="">{{shirt.love}}</a> &nbsp;
          <span class ="pull-right glyphicon glyphicon-heart"> </span>&nbsp;
        </div>
      </div>
      <div class ="product-name">
          <img src="assets/img/icon.png"><span>{{shirt.brand.brand_name}}</span>
      </div>
    </div>