.brand-title{
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
}
.brand-wrapper{
	border-bottom: 1px solid #ededed;
	margin-top: 40px; 
	padding-bottom: 30px;
}
.brand-wrapper li p{
	font-size: 20px;
}
.brand-detail-wrapper{
	list-style-type: none;
	color: #bbbcbd;
	font-size: 14px;
	position: relative;
	top: -10px;	
	margin-left: -35px;
}
.brand-detail-wrapper li:first-of-type{
	font-size: 20px;
	color: #11b4e8;
}
.count-number{
	height: 40px; 
	width: 40px; 
}
.brand-detail-wrapper p{
	float: left; 
	margin-left: 5px; 
	width: 40px; 
	height: 40px; 
	word-break:break-all;
	padding: 5px;
	font-size: 14px !important;
}
.brand-detail-wrapper p:last-of-type{
	border-left: 1px solid #bbbcbd;
	margin-left: 5px;
	width: 67px; 
}
.form-container{
	padding-right: 0;
	padding-top: 40px;
}
.search-form{
	background: #2a334c;
	padding: 10px;
}
.search-header{
	border-bottom: 1px solid #222b41;
	padding-bottom: 10px;
	padding-top: 10px;
}
.search-form .search-header span:first-of-type{
	color: #fff;
}
.search-form .search-header span:last-of-type{
	color: #1e263b;
}
.radio-wrapper{
	color: #fff;
	font-size: 13px;
	margin-top:10px;
}
.radio-wrapper input{
	margin-right: 6px;
}
.select-option{
	margin-top: 10px;
}
.select-option p{
	color: #fff;
}
.select-option select{
	border-radius: 2px; 
	border : 1px solid #ddd; 
	width: 100%; 
	height: 45px; 
	padding: 10px; 
	outline: 0;
}
.select-option option{
	height: 100px;
}
.select-option button{
	width: 100%;
	background: #a9b51f;
	border: none;
	padding: 10px;
	font-size: 17px;
	color: #484e02;
	margin-top: 10px;
}

.pagination-wrapper{
	text-align: center;
}
.pagination-wrapper li a{
	margin-right: 10px;
	background: #ed792e;
	color: #fff;
}
.pagination-wrapper li a:hover{
	background: #2a334c;
	color: #fff;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
 	border-bottom-right-radius: 0 !important; 
 	border-top-right-radius: 0 !important; 
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}
