.body-wrapper .page-title{
	border-bottom: 1px solid #333; 
	padding-bottom: 20px;
}
.body-wrapper .page-subtitle{
	border-top: 1px solid #333; 
	padding-top:20px; color: #11b4e8;
}
.form-wrapper{
	background: #f1f1f1; 
	padding-top: 15px; 
	padding-bottom: 15px; 
	border: 1px solid #e8e7e7;
}
.form-header{
	margin-bottom: 20px;
}
.form-header span{
	font-size: 20px;
}
.form-wrapper p{
	color: #7a7878; 
	font-size: 16px; 
}
.form-wrapper input{
	width: 100%; 
	height: 40px; 
	border: 1px solid #e8e7e7; 
	padding: 15px;
	margin-bottom: 10px;
}
.form-wrapper textarea{
	width: 100%; 
	border: 1px solid #e8e7e7; 
	padding: 10px;
}
.form-wrapper button{
	background: #a9b51f; 
	padding: 15px 10px; 
	width: 150px;
	border: none; 
	color: #fff; 
	font-size: 18px; 
	margin-top: 20px;
}