/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 160px;
    bottom: 0;
    height: auto;
    left: 60px;
    z-index: 1000;
    display: block;
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    padding: 0 !important;
    border-right: 1px solid #eee;
  }
  .sidebar .brand-profile{
    background-color: #1f263c;
    padding: 15px;
    color: #fff; 
    text-align: center;
  }
  .sidebar .right-nav{
    background: #2a334c;
  }
  .sidebar .right-nav li{
    border-bottom: 1px solid #1f263c;
    font-size: 15px;
    color: #fff !important;
  }
  .sidebar .right-nav li a{
    font-size: 15px;
    color: #fff !important;
  }
  .sidebar .right-nav li a:hover{
    background: none !important;
    color: #00c1ff !important;
  }
  .sidebar .right-nav .badge-pink{
    background: #ea5858;
  }
  .sidebar .right-nav .badge-blue{
    background: #1f263c;
  }



.sidebar-nav{
  position: fixed;
  margin-bottom: 100px;
  width: 20% !important;
  }
  .sidebar-nav .brand-profile{
    background-color: #1f263c;
    padding: 15px;
    color: #fff; 
    text-align: center;
  }
  .sidebar-nav .right-nav{
    background: #2a334c;
  }
  .sidebar-nav .right-nav li{
    border-bottom: 1px solid #1f263c;
    font-size: 15px;
    color: #fff !important;
  }
  .sidebar-nav .right-nav li a{
    font-size: 15px;
    color: #fff !important;
  }
  .sidebar-nav .right-nav li a:hover{
    background: none !important;
    color: #00c1ff !important;
  }
  .sidebar-nav .right-nav .badge-pink{
    background: #ea5858;
  }
  .sidebar-nav .right-nav .badge-blue{
    background: #1f263c;
  }

  .content{
   margin-left: 18.666667% !important;
   width: 81.333333% !important;
  }
}



/*
 * Main content
 */

.main {
  padding: 65px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}