/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  background: #2a334c;
}
.navbar-fixed-top a{
  color: #fff !important;
  font-size: 17px;
}
.navbar-fixed-top a:hover{
  text-decoration: none;
  color: #b96636 !important;
  cursor: pointer;
}
.user-login{ background: #1f263c }
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding-left:0 !important;
    padding-right:0 !important;
  }
  .sidebar .brand-profile{
    background-color: #1f263c;
    padding: 15px;
    color: #fff; 
    text-align: center;
  }
  .sidebar .right-nav{
    background: #2a334c;
  }
  .sidebar .right-nav li{
    border-bottom: 1px solid #1f263c;
    font-size: 15px;
    color: #fff !important;
  }
  .sidebar .right-nav li a{
    font-size: 15px;
    color: #fff !important;
  }
  .sidebar .right-nav li a:hover{
    background: none !important;
    color: #00c1ff !important;
  }
  .sidebar .right-nav .badge-pink{
    background: #ea5858;
  }
  .sidebar .right-nav .badge-blue{
    background: #1f263c;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  margin-top: 0px;
}

.main .tab-content .tab-pane .col-md-4{
  width: 28.1%;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/*
*Dropdown css
*/

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 10px 0;
  overflow: hidden;
  margin-left: -74px;
  z-index: 99999999 !important;
}

.navigation ul li {
  float: none;
  z-index: 99999999 !important;
}
.navigation ul li{
  padding: 5px 10px;
  border-bottom: 1px solid #1f263c;
}
.navigation ul li:last-of-type{
  border-bottom: 0 solid #1f263c;
}

.navigation li:hover > ul {
  display: block;
  background: #2a334c;
  border-top: 0;
  z-index: 99999999 !important;
  margin-left: -74px;
}

.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}


/*
*thumbnail overlay
*/
.control-overlay{
  position: absolute; 
  right: 30px; 
  top: 35px; 
  z-index: 999;
  display: none;
}
.controls{
  padding: 5px; 
  height: 25px; 
  float: left; 
  margin-left: 7px; 
  padding-bottom: 11px; 
  position: relative; 
  background: #fff;
}
.controls span{
  color: #11b4e8;
}
.control-menu{
  border-radius: 4px; 
  background: #fff; 
  position: absolute; 
  width: 100px; 
  right: 0; 
  top: 30px; 
  box-shadow: 1px 3px 5px #c9c9c9;
}
.triangle {
  width: 85px;
  height: 150px;
  position: absolute;
  top: -8%;
  left: 22%;
  clip: rect(auto, 180px, auto, 100px);
  transform: rotate(-90deg);
}
.triangle::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: #fff;
  transform: rotate(-45deg);
/*  -webkit-filter: drop-shadow(3px 3px 2px rgba(0,0,0,.5));*/
}
.ctrl-list{
  margin: 0; 
  padding: 5px; 
  border-bottom: 1px solid #d9d9d9;
}
.ctrl-list a {color: #000;}
.ctrl-list a:hover{color: #11b4e8; text-decoration: none;}
.ctrl-list:last-of-type{
  border-bottom: 0;
}
.ctrl-list span{
  color: #11b4e8;
}
.shirts:hover .control-overlay{
  display: block;
}
.dashboard-content .tab-content{
  padding-top: 70px;
}
.dashboar-nav {
  z-index: 10; 
  position: fixed; 
  margin-top: -10px; 
  background: #f0f0f0; 
  padding-top: 20px; 
  padding-bottom: 20px;
  margin-left: -30px;
}
.tab-content 

/*modal*/
.modal-content{border-radius: 3px !important;}
.modal-content button{outline: 0;}

