/* tshirt details css
==========*/
.edit-wrapper  label.title-details {
font-family: 'proxima_novasemibold';
font-size: 15px;
margin-top: 20px;
margin-bottom: 20px;
}

.edit-wrapper  input[type="text"] {
margin: 0;
border: 1px solid #d7d7d7;
padding: 5px 10px;
color: #d7d7d7;
border-radius: 4px;
width: 100%;
height: 50px;
outline: none;
}
.edit-wrapper .btn-preview-wrapper {
border-top: 1px solid #e7e5e5;
padding-top: 20px;
margin-top: 20px;
}
.edit-wrapper .btn-preview-wrapper button {
background: #a9b51f;
color: #fff;
border-radius: 2px;
font-size: 18px;
font-family: 'proxima_regular' !important;
border: 1px solid #95a013;
padding: 10px 30px;
}