
.body-form{ background: #2a334c; }

/*login form css
==========*/
.body-form .forms-wrapper { padding-top: 50px; padding-bottom: 50px;}
.body-form .forms-wrapper .panel-form{ text-align: center; color: #fff; width: 430px; margin: 0 auto; }
.body-form .forms-wrapper .panel-form a{ color: #fff;}
.body-form .forms-wrapper .panel-form a:hover{ text-decoration: none;}
.body-form .forms-wrapper .panel-form img{ padding-bottom: 40px;}
.body-form .forms-wrapper .panel-form form{ width: 100%; background: #fff; border-radius: 4px; box-shadow: 5px 10px 20px #232a3f; padding: 30px 20px;}
.body-form .forms-wrapper .panel-form form small{ position: relative; top: 10px;}
.body-form .forms-wrapper .panel-form form .fb-login{ background: #39579a; width: 100%; border-radius: 4px; padding: 15px;}
.body-form .forms-wrapper .panel-form form .fb-login img{position: absolute; }
.body-form .forms-wrapper .panel-form form .fb-login span{margin-left: 30px; font-size: 18px; }
.body-form .forms-wrapper .panel-form form .row {border-top: 1px solid #d1d1d1; margin-top: 40px; margin-right: -20px !important; margin-left: -20px !important;}
.body-form .forms-wrapper .panel-form form .row .or{border-radius: 100%; padding: 10px 8px; background: #fff; border: 1px solid #d1d1d1; position: relative; color: #d1d1d1; top: -10px;}
.body-form .forms-wrapper .panel-form form .btn-login{background: #11b4e8; color: #fff; width: 100%; border-radius: 2px; padding: 15px;}
.body-form .forms-wrapper .panel-form form .form-input{text-align: left; color: #2a334c; padding-top: 20px; padding-bottom: 45px;}
.body-form .forms-wrapper .panel-form form .form-input p{margin-bottom: 10px; margin-top: 10px; font-size: 15px; font-font-family: 'proxima_novasemibold';}
.body-form .forms-wrapper .panel-form form .form-input input,select{height: 50px; width: 100%; padding: 15px; 
border-radius: 3px; border: 0px inset; border: 1px solid #d1d1d1; outline: none;}
select{background: #fff;}

/*login form css
==========*/
.body-form .forms-wrapper .panel-form .signup-header{ text-align: left; font-size: 20px; color: #2a334c;} 
.body-form .forms-wrapper .panel-form .signup-header .list-inline li img{ padding: 0; } 
.sign-divider{margin-top: 20px !important; }


