.thumbnail-wrapper img{ margin-bottom: 30px; opacity: 0.7; }
.thumbnail-wrapper img:hover{ opacity: 1; }
.featured-img{width: 100%;}
.featured-caption{position: absolute; bottom: 0; background-color:rgba(0,0,0,0.7); color: #fff; width: 97%; padding: 15px;}
.product-main-wrapper{background: #f5f4f4; padding-top: 35px; padding-bottom: 50px;}
.product-main-wrapper .products{margin-bottom: 60px;}
.product-main-wrapper .products:last-of-type{margin-bottom: 0;}
.product-wrapper{background: #fff;padding: 10px;margin-right: 21px;box-shadow: 0px 0px 5px #ddd;}
.product-wrapper .glyphicon-ok{margin-left: 10px;}
.badges{ position: absolute;  margin-top: -10px;  margin-left: -10px; }
.shirts{padding: 10px; background: #fff; margin-top: 20px; box-shadow: 1px 1px 1px #d8d8d8;}
.shirts-img{width: 100%; height: 123px;}
.shirts-img img{max-width: 100% !important;}

.links-wrapper{ border-bottom: 1px solid #e2e2e2; padding-bottom: 20px;  box-shadow: 0 1px 1px #e8e8e8; }
.product-links{ margin-top: 15px; }
.product-links a{ margin-right: 15px; color: #000; }
.product-links a:hover{ text-decoration: none; }
.product-links .active{ background: #11b4e8; color: #fff !important; padding: 10px; }
.tab-content{ padding: 40px 0; }
.tab-pane{ background: none !important; color: #000 !important; }
.product{ background: #fff; height: 140px; width: 190px; }
.price-wrapper{ margin-top: 10px; color: #a4a4a4;}
.price-wrapper span:first-of-type{ color: #020202; font-size: 14px;}
.price-wrapper a{ margin-left: 5px; font-size: 12px; color: #a4a4a4;}
.product-name{ margin-top: 10px; }
.product-name span{ font-size: 12px; font-weight: 600; color: #11b4e8; margin-left: 6px; position: relative; top: 2px;}
.promo-panel{ background: #f5f4f4; color: #313131;}
.promo-panel p a{ color: #313131;}
.promo-panel p a:hover{ text-decoration: none;}
.promo-title{ font-size: 15px; color: #ff6a66; font-weight: bold; }
.btn-promo{ background: #11b4e8; color: #fff; padding: 5px 15px;}
.promo-wrapper-top{
	background-image: -webkit-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	background-image: -moz-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	background-image: linear-gradient(to right, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	-webkit-background-size: 100% 5px;
	-moz-background-size: 100% 5px;
	background-size: 100% 5px;
	background-repeat: no-repeat;
	background-position-y: top;
	height: 3px;
	margin-bottom: 10px;
}
.promo-wrapper-bottom{
	background-image: -webkit-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	background-image: -moz-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	background-image: linear-gradient(to right, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	-webkit-background-size: 100% 5px;
	-moz-background-size: 100% 5px;
	background-size: 100% 5px;
	background-repeat: no-repeat;
	background-position-y: bottom;
	height: 3px;
	margin-top: 10px;
}
.tooltip-btn{
	position: absolute;
	width: 250px;
	margin-left: 30px;
	margin-top: 15px;
	background: #fff;
	border-radius: 4px;
	
}
.tooltip-btn .arrow-up{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;	
	border-bottom: 10px solid #fff;
	position: absolute;
	right: 0;
	margin-top: -10px;
	margin-right: 50px;
	z-index: 999999 !important;
}
.tooltip-btn .cntent {
	font-size: 13px;
	color: #030303;
	padding: 15px;
	padding-bottom: 0;
	text-transform: uppercase;
	border-bottom: 1px solid rgba( 196, 196, 196, 0.7);
	box-shadow: 0 1px 2px solid #dcdcdc;
}
.tooltip-btn .cntent .text-center{ font-size: 13px; color: #030303; }
.tooltip-btn .btn-wrap{ overflow: hidden; border-radius: 0 0 4px 4px; }
.tooltip-btn .list-inline { margin-bottom: 0; padding: 0;}
.tooltip-btn .list-inline .li-btn {  width: 50%; text-align: center; padding: 15px;}
.tooltip-btn .list-inline .li-btn a{ font-size: 14px;}
.tooltip-btn .list-inline .li-btn a:hover{ color: #fff;}
.tooltip-btn .list-inline .li-left{ background-color: #11b4e8; color: #fff; }
.tooltip-btn .list-inline .li-right{ background-color: #ed792e; color: #fff; border-left: 1px solid #fff;}

.footer-testimonial-panel{background: #fff; padding: 20px; text-align: center;}