/*first fold css
=======================*/
.first-panel{
	background: #11b4e8; 
	padding-bottom: 50px;
}
.first-panel h1{
	color: #fff; 
	font-size: 40px; 
	padding-top: 30px; 
	padding-bottom: 50px;
}
.first-panel .col-md-4{
	text-align: center;
}
.first-panel .col-md-4 img{
	width: 260px;
}
.first-panel .col-md-4 img.customer{
	width: 378px;
}
.btn-wrapper{
	position: relative; 
	top: 80px;
}
.btn-wrapper .btn-signup{
	width: 100%; 
	padding:  15px; 
	background: #a6b317; 
	border: 1px solid #fff; 
	font-size:22px; 
	color: #fff;
}
.second-panel{
	padding-bottom: 50px;
	padding-top: 60px;
}
.second-panel .underline{
	height: 5px;
	border-top: 1px solid #d5d9da;
	border-bottom: 1px solid #d5d9da;
	margin-bottom: 50px;
}
.second-panel h1{
	color: #fe473b;
	font-weight: 600;
}
.second-panel h3{
	color: #15b7eb;
}
.second-panel h4{
	line-height: 30px;
}
.third-panel{
	background: #f7f5f5;
	border-top: 1px solid #e7e7e7;
	padding-top: 100px;
}
.third-panel em{
	font-size: 17px;
	color: #a1a0a0;
}
.blue-txt, .blue-txt em{
	font-size: 17px;
	color: #11b4e8 !important;
}