/*start media sizes*/

@media screen and (max-width: 320px) {
/*body { border:10px solid red; }*/

	/*header*/
	.search-input{
		margin: 20px 0 10px 0;

	}
	.header-wrapper span {
		margin-left: 20px;
		float: right;
		margin-top: -35px;
	}
	.footer-wrapper .container .row .col-md-5 {
		padding-bottom: 0;
	}
	.footer-wrapper .container .row .col-md-4{

		padding-bottom: 0;
	}
	.form-container {
		padding-left: 0;
	}
	.list-inline>li{
		padding-left: 0;
	}
	.brand-detail-wrapper{
		top: 20px;
	}
	.pagination>li>a, .pagination>li>span{
		padding: 6px 9px;
	}
	.full-width {
		width: 100% !important;
	}
	.half-width {
		width: 50%;
	}
	.raffle-wrapper{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.media-footer{
		width: 40%;
		float: left;
	}
	.navbar-toggle{
		margin-top: 20px !important;
	}
	.home-select {
		margin-top: 20px;
	}

	/* dashboard */
	.post-panel .details-container{
		width: 100%;
	}
	.post-panel{
		padding: 0;
	}
	.product-links .navigator:nth-child(4){
		display: none;
	}
	.dashboar-nav{
		margin-top: -30px !important;
	}
	.dashboard-content .tab-content {
		padding-top: 40px !important;
	}
	.navigation ul{
		display: none;
		position: static;
		list-style: none;
		padding: 10px 0;
		overflow: visible;
		margin-left: 15px !important ;
		z-index: 99999999 !important;
	}
	.navigation ul li{
		float: left !important;
	}
	.nav>li{
		text-align: center;
	}

	/* step 2 */

	.form2 .col-md-9{
		width: 100%;
	}
	.form2 .col-md-3{
		width: 100%;
		padding-top: 20px;
	}
	.add-size{
		text-align: center;
	}
	.add-size li:nth-child(3){
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.form2 .add-sizes-link{
		padding: 17px 82px;
	}

	/* final step */
	.post-panel .step-header span.stp-count{
		padding: 10px 15px;
	}
	.post-panel .step-header span.stp-one{
		padding: 10px 18px;
	}
	.final-step-panel {
		background: #fff;
		margin-top: 10px;
		padding-top: 1px;
		padding-bottom: 5px;
	}
	.final-step-panel h2{
		font-size: 20px;
	}
	.final-step-panel .divider{
		margin-top: 40px;
		margin-bottom: 30px;
	}
	.steps-header{
		font-size: 24px;
	}
	.post-panel .step-header p{
		margin-top: 0;
	}
	/* shirt details */
	.mobile-view-wrapper .shirt-img-wrapper p a.links img{
		max-width: 13px;
	}
	.mobile-view-wrapper .shirt-img-wrapper p {
		margin-top: 10px;
	}
	.mobile-view-wrapper .shirt-img-wrapper {
		padding-bottom: 1px;
	}
	.mobile-view-wrapper  .details-wrapper{
		width: 100% !important;
	}
	.media-mobile{
		text-align: center;
	}
	.media-mobile .full-width .media-object{
		margin-left: 100px;
	}
	/* index css */
	 .footer-testimonial-panel .media img{
	 	margin: 0 auto;
	 }
	 .footer-testimonial-panel .media .media-body{
	 	padding-top: 20px;
	 }
}

@media (min-width: 321px) and (max-width: 479px) { 
/*body { border:10px solid orange; }*/
}

@media (min-width: 480px) and (max-width: 639px) { 
/*body { border:10px solid green; }*/

  		/* index */
  	.product-panel .col-md-3{
  		width: 50%;
  		float: left;
  	}
	.raffle-wrapper{
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.media-footer{
		width: 50%;
		float: left;
	}
	.footer-wrapper .container .row .col-md-5{
		padding-bottom: 0;
	}
	.footer-wrapper .container .row .col-md-4{
		padding-bottom: 0;
	}
	.navbar-toggle{
		margin-top: 15px !important;
	}
	.home-select{
		margin-top: 20px;
	}
	.post-panel .details-container{
		width: 100%;
	}
	.post-panel{
		padding: 0;
	}

	/* dashboard */
	.dashboar-nav{
		margin-top: -30px !important;
	}
	.main .tab-content .tab-pane .col-md-4{
		width: 50% !important;
		float: left;
	}
	.price-wrapper{
		margin-top: 0 !important;
	}
	.dashboard-content .tab-content {
		padding-top: 40px !important;
	}
	.navigation ul{
		display: none;
		position: static;
		list-style: none;
		padding: 10px 0;
		overflow: hidden;
		margin-left: 15px !important ;
		z-index: 99999999 !important;
	}
	.navigation ul li a{
		font-size: 16px;
	}
	.navigation ul li{
		float: left !important;
	}
	.nav>li{
		float: none !important;
		text-align: center !important;
		width: 100%;
	}
	/* step 2 */
	.form2 .col-md-9{
		width: 100%;
	}
	.form2 .col-md-3{
		width: 100%;
		padding-top: 20px;
	}
	.final-step-panel{
		margin-top: 20px;
		padding-top: 20px;
	}
	/* shirt details */
	.mobile-view-wrapper .shirt-img-wrapper p a.links img{
		max-width: 13px;
	}
	.mobile-view-wrapper .shirt-img-wrapper p {
		margin-top: 10px;
	}
	.mobile-view-wrapper .shirt-img-wrapper {
		padding-bottom: 1px;
	}
	.mobile-view-wrapper  .details-wrapper{
		width: 100% !important;
	}
	.media-mobile{
		text-align: center;
	}
	.media-mobile .full-width .media-object{
		margin-left: 100px;
	}
}

@media (min-width: 640px) and (max-width: 767px) { 
/*body { border:10px solid blue; }*/
	.full-width{
		width: 100%;
	}
	.post-panel .details-container{
		width: 100%;
	}

}

@media (min-width: 768px) and (max-width: 1023px){ 
/*body { border:10px solid violet; }*/
		
		/* index */
		.price-wrapper{
			margin-top: 50px;
		}
		.raffle-wrapper{
			text-align: center;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.navigation li:first-of-type{
			display: none;
		}
		.post-panel .details-container{
			width: 100%;
		}

		/*dashboard*/
		.main .tab-content .tab-pane .col-md-4{
			width: 50% !important;
			float: left;
		}
		.price-wrapper{
			margin-top: 0 !important;
		}
		.dashboar-nav{
			margin-top: -20px !important;
		}
		.dashboard-content .tab-content {
			padding-top: 40px !important;
		}
		.form2 .col-md-9{
			width: 100%;
		}
		.form2 .col-md-3{
			width: 100%;
			padding-top: 20px;
		}
}

@media (min-width: 1024px) and (max-width: 1263px){ 
/*body { border:10px solid yellow; }*/

		/* dashboard */
		.main .tab-content .tab-pane .col-md-4 {
			width: 33.1% !important;
		}
		.price-wrapper{
			margin-top: 0;
		}
		/* step 2 */
		.form2 .col-md-9{
			width: 68%;
		}
}

@media (min-width: 1264px) and (max-width: 1349px){ 
/*body { border:10px solid pink; }*/
}

@media (min-width: 1350px) and (max-width: 1365px){ 
/*body { border:10px solid blue; }*/
}

@media (min-width: 1366px) and (max-width: 1663px){ 
/*body { border:10px solid red; }*/
}

@media (min-width: 1664px) and (max-width: 1920px) { 
/*body { border:10px solid green; }*/
}

/*end*/
