/* tshirt details css
==========*/
.post-panel { padding: 50px;  background: #e9e9ed;}
.post-panel .details-container{ width: 970px;}
.post-panel .step-wrapper{ margin-top: 50px; }
.post-panel .step-header{ border-top: 6px solid #dadada; text-align: center; font-size: 21px; color: #dadada;} 
.post-panel .step-header p{ font-size: 13px; margin-top: 20px;} 
.post-panel .head-active{ border-top: 5px solid #a9b51f; text-align: center; color: #a9b51f;}
.post-panel .step-header span.stp-count { border: 5px solid #dadada; text-align: center; padding: 20px 25px; border-radius: 100%; position: relative; top: -28px; background: #e9e9ed;}
.post-panel .step-header span.stp-one { padding: 20px 30px; }
.post-panel .step-header span.stp-done { padding: 20px 22px; }
.post-panel .step-header span.stp-active{ border: 5px solid #a9b51f; text-align: center; border-radius: 100%;}
.post-panel .details-wrapper .col-md-9{ background: #fff; border-right: 1px solid #d6d8d9; padding-top: 20px; padding-left: 20px; padding-bottom: 20px;}
.post-panel .details-wrapper td.col-md-3{ background: #f6f7f8; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; vertical-align: top;}
.post-panel .details-wrapper .col-md-9 input, select{border: 1px solid #dadada; width: 100%; height: 50px; outline: none;} 
.post-panel .details-wrapper .col-md-9 select{background: #fff;} 
.post-panel .details-wrapper .col-md-9 fieldset { position: relative; width: 100%; float: left; border: 0; margin: 0; padding: 0; display: block; border-radius: 4px;}
.post-panel .details-wrapper .col-md-9 input[type="text"] { margin: 0; border: 1px solid #d7d7d7; padding: 5px 10px;  color: #d7d7d7; border-radius: 4px;}
.post-panel .details-wrapper .col-md-9 input[type="file"] { width: 0; height: 0; outline: 0 none; }
.post-panel .details-wrapper .col-md-9 input[type="file"]:after { position: absolute; top: 0; right: 0; content: "Browse"; background: #f0f0f0;  border-left: 0 !important; border: 1px solid #d7d7d7; color: #706f6f; padding: 15px 30px; height: 97%; border-radius: 0 4px 4px 0;} 
.post-panel .details-wrapper .col-md-9 input.img-size::-moz-placeholder{color:#cbc9c9; font-size: 14px; font-style: italic;}
.post-panel .details-wrapper .col-md-9 input.img-size::-ms-input-placeholder{color:#cbc9c9; font-size: 14px; font-style: italic;}
.post-panel .details-wrapper .col-md-9 input.img-size::-webkit-input-placeholder {color:#cbc9c9; font-size: 14px; font-style:italic;}
.post-panel .details-wrapper .col-md-9 label.title-details{ font-family: 'proxima_novasemibold'; font-size: 15px; margin-top: 20px; margin-bottom: 20px;}
.post-panel .details-wrapper .col-md-9 label span{  font-size: 15px; color: #b8b8b8; font-family: 'proxima_regular' !important;}
.post-panel .details-wrapper .col-md-9 .sizes-wrapper{ border-top: 1px solid #e7e5e5; padding-top: 20px; }
.post-panel .details-wrapper .col-md-9 .add-size{ border-bottom:  1px solid #e7e5e5; padding-bottom: 20px;}
.post-panel .details-wrapper .col-md-9 .add-size .drop-sizes{ width: 90px;}
.post-panel .details-wrapper .col-md-9 .btn-preview-wrapper{border-top: 1px solid #e7e5e5; padding-top: 20px; margin-top: 20px;}
.post-panel .details-wrapper .col-md-9 .btn-preview-wrapper button{ background: #a9b51f; color: #fff; border-radius: 2px; font-size: 18px; font-family: 'proxima_regular' !important; border: 1px solid #95a013; padding: 10px 30px;}
.post-panel .details-wrapper .col-md-3 .sample-template-info{text-align: center;}
.post-panel .details-wrapper .col-md-3 .title-sample{color: #2a334c;}
.post-panel .details-wrapper .col-md-3 img{margin-bottom: 10px;}
.post-panel .details-wrapper .col-md-3 .sample-template-info small{text-align: center; color: #9d9898; margin-top: 5px;} 


.post-panel .details-wrapper .col-md-9{ background: #fff; border-right: 1px solid #d6d8d9; padding-top: 20px; padding-left: 20px; padding-bottom: 20px;}

.post-panel .details-wrapper .col-md-9 input, select{border: 1px solid #dadada; width: 100%; height: 50px; outline: none;} 
.post-panel .details-wrapper .col-md-9 select{background: #fff;} 
.post-panel .details-wrapper .col-md-9.col-md-offset-1{margin-left: 13.333333%;} 
.post-panel .details-wrapper .col-md-9 .model-select-box{width: 100% !important;} 
.post-panel .details-wrapper .col-md-9 .model-select-box .model-select-text{background-position: 98% 15px !important;} 
.post-panel .details-wrapper .col-md-9 .model-select-box .model-select-option{width: 100% !important;} 
.post-panel .details-wrapper .col-md-9 fieldset { position: relative; width: 100%; float: left; border: 0; margin: 0; padding: 0; display: block; border-radius: 4px;}
.post-panel .details-wrapper .col-md-9 input[type="text"] { margin: 0; border: 1px solid #d7d7d7; padding: 5px 10px;  color: #d7d7d7; border-radius: 4px;}
.post-panel .details-wrapper .col-md-9 input[type="file"] { width: 0; height: 0; outline: 0 none; }
.post-panel .details-wrapper .col-md-9 input[type="file"]:after { position: absolute; top: 0; right: 0; content: "Browse"; background: #f0f0f0;  border-left: 0 !important; border: 1px solid #d7d7d7; color: #706f6f; padding: 15px 30px; height: 97%; border-radius: 0 4px 4px 0;} 
.post-panel .details-wrapper .col-md-9 input.img-size::-moz-placeholder{color:#cbc9c9; font-size: 14px; font-style: italic;}
.post-panel .details-wrapper .col-md-9 input.img-size::-ms-input-placeholder{color:#cbc9c9; font-size: 14px; font-style: italic;}
.post-panel .details-wrapper .col-md-9 input.img-size::-webkit-input-placeholder {color:#cbc9c9; font-size: 14px; font-style:italic;}
.post-panel .details-wrapper .col-md-9 label.title-details{ font-family: 'proxima_novasemibold'; font-size: 15px; margin-top: 20px; margin-bottom: 20px;}
.post-panel .details-wrapper .col-md-9 label span{  font-size: 15px; color: #b8b8b8; font-family: 'proxima_regular' !important;}
.post-panel .details-wrapper .col-md-9 .sizes-wrapper{ border-top: 1px solid #e7e5e5; padding-top: 20px; }
.post-panel .details-wrapper .col-md-9 .add-size{ border-bottom:  1px solid #e7e5e5; padding-bottom: 20px;}
.post-panel .details-wrapper .col-md-9 .add-size .drop-sizes{ width: 90px;}
.post-panel .details-wrapper .col-md-9 .btn-preview-wrapper{border-top: 1px solid #e7e5e5; padding-top: 20px; margin-top: 20px;}
.post-panel .details-wrapper .col-md-9 .btn-preview-wrapper button{ background: #a9b51f; color: #fff; border-radius: 2px; font-size: 18px; font-family: 'proxima_regular' !important; border: 1px solid #95a013; padding: 10px 30px;}


/* Base for label checkbox styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked { position: absolute; left: -9999px;}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label { position: relative; padding-left: 25px; cursor: pointer; }
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {content: ''; position: absolute; left:0; top: 2px; width: 17px; height: 17px; border: 1px solid #aaa; background: #f8f8f8; }
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after { content: "\2713"; position: absolute; top: 0; left: 4px; font-size: 14px; color: #09ad7e; transition: all .2s; }
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after { opacity: 0; transform: scale(0); }
[type="checkbox"]:checked + label:after { opacity: 1; transform: scale(1); }
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before { box-shadow: none; border-color: #bbb; background-color: #ddd; }
[type="checkbox"]:disabled:checked + label:after {color: #999; }
[type="checkbox"]:disabled + label {color: #aaa;}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before { /*border: 1px dotted blue;*/ }

.add-sizes-link{ background: #f0f0f0; padding: 17px 10px; font-size: 15px; color: #706f6f;}
.add-sizes-link:hover{ text-decoration: none; color: #706f6f;}

.color-pallet .cl-pallet{ padding: 3px 12px;}
.color-pallet li {padding-right: 0; padding-left: 9px;}
.color-pallet li:first-of-type .cl-pallet{border: 1px solid #e7e5e5;}
.color-pallet li .cl-01{background: #000000}
.color-pallet li .cl-02{background: #a9b51f}
.color-pallet li .cl-03{background: #1fb550}
.color-pallet li .cl-04{background: #b51f5b}
.color-pallet li .cl-05{background: #ff0000}
.color-pallet li .cl-06{background: #4e93e8}
.color-pallet li .cl-07{background: #f6ff00}
.color-pallet li .cl-08{background: #ff9c00}
.color-pallet li .cl-09{background: #1fb3b5}
.color-pallet li .cl-10{background: #ff00e4}
.color-pallet li .cl-11{background: #00eaff}
.color-pallet li .cl-12{background: #2a334c}
.color-pallet li .cl-13{background: #8d8c8a}
.color-pallet li .cl-14{background: #ffb1ab}
.color-pallet li .cl-15{background: #5b3f4e}
.color-pallet li .cl-16{background: #00ff00}
.color-pallet li .cl-17{background: #0078ff}
.color-pallet li .cl-18{background: #fa4404}
.color-pallet li .cl-19{background: #075e22}

/*pricing panel css
==========*/
.pricing-wrapper{ background: #fff; margin-top: 50px; padding: 50px 30px 80px 30px; }
.pricing-wrapper .col-md-4{ padding-top: 60px; }
.pricing-wrapper .pricing-panel{ list-style-type: none;  -webkit-padding-start: 0;}
.pricing-wrapper .hot-badge{ position: absolute; margin-top: -3px; margin-left: -2px;}
.pricing-wrapper .pricing-panel .pr-head{ background: #2a334c; text-align: center; color: #fff; font-size: 26px; text-transform: uppercase; padding: 30px; height: 185px;}
.pricing-wrapper .pricing-panel .pr-head div{ border-top: 1px solid #252e46; border-bottom: 1px solid #252e46; height: 5px; margin-top: 20px;}
.pricing-wrapper .pricing-panel .pr-head div span{ font-size: 26px; color: #11b4e8; top: -17px; position: relative; background: #2a334c; padding: 5px;}
.pricing-wrapper .pricing-panel .pr-head img{ position: relative; top: 47px;}
.pricing-wrapper .pricing-panel .pr-head .red-tag{ position: absolute; color: #f54040; font-size: 14px; margin-left: -70px; margin-top: 40px;}

.pricing-wrapper .pricing-panel .pr-head .red-tag small{ font-size: 10px;}
.pricing-wrapper .pricing-panel .scnd-li{ padding-top: 70px !important; }
.pricing-wrapper .pricing-panel .li-pack{ background: #f6f7f8; padding: 15px 20px; border-bottom: 1px solid #dadadb;}
.pricing-wrapper .pricing-panel .li-pack:last-of-type{ border-bottom: 0;}
.pricing-wrapper .pricing-panel .li-pack .btn-choose{ background: #11b4e8; color: #fff; width: 100%; border-radius: 2px; padding:15px;}

/*testimonial panel css
==========*/
.testimony-wrapper{ border-top: 1px solid #e7e7e7; background: #f6f7f8; padding: 0 102px 50px 102px; text-align: center;}
.testimony-wrapper p:first-of-type{ margin-top: -20px;}
.testimony-wrapper img{ position: relative; top: -42px;}
  
/*final step  panel css
==========*/
.final-step-panel { background: #fff;  margin-top: 50px; padding-top: 50px; padding-bottom: 50px;}
.final-step-panel .divider{ border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; color: #929292; margin-top: 70px; margin-bottom: 70px; font-size: 22px; height: 5px; text-align: center;}
.final-step-panel .divider span{ position: relative; top: -15px; background: #fff; padding: 10px;}
.final-step-panel .users-choice{ width: 100%; color: #fff; font-size: 16px; text-align: center; padding: 20px 0; border-radius: 2px;}
.final-step-panel .fb{ background: #436eac;}
.final-step-panel .dash{ background: #ed792e;}
.final-step-panel .browse{ background: #11b4e8;}
.final-step-panel a:hover{ text-decoration: none}

input[type=radio] { position: absolute; opacity: 0; }
input[type=radio] + label { display: inline-block; }
input[type=radio] + label:before { content: ""; display: inline-block; vertical-align: -0.2em; width: 1em; height: 1em; border: 0.15em solid #7e7e7e; border-radius: 0.2em; margin-right: 0.3em; background-color: white;}
input[type=radio] + label:before { border-radius: 50%; }
input[type=radio]:checked + label:before{ background-color: #7e7e7e; box-shadow: inset 0 0 0 0.15em white; }
input[type=radio]:focus + label:before{ }
input[type=date] { padding-right: 20px; background-image: url('../img/calendar-ico.png'); background-repeat: no-repeat;  background-position: 90% 50%; }
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    visibility: hidden;
}
/*instruction panel css
==========*/
.instruction-panel{ background: #fff; overflow: hidden;}
.instruction-panel .ins-header{ padding-top: 40px; padding-bottom: 40px;}
.instruction-panel .border{ border-bottom: 1px solid #d1d1d1;  margin-bottom: 50px;}
.instruction-panel  ul { -webkit-padding-start: 0 !important; padding: 0 !important; padding-left: 15px !important;}
.instruction-panel  ul li { font-size: 18px; line-height: 35px;}
.instruction-panel  .payment-content { padding: 0 60px 30px 60px;}
.instruction-panel  .payment-content h2{ margin: 0;}
.instruction-panel  .payment-content .txt-green{ padding-top: 30px; }
.instruction-panel  .payment-content .note-panel { padding: 15px; border: 1px solid #fe473b; border-radius: 4px; background: #ffe5e5;}
.instruction-panel  .payment-content .col-md-12 p{font-size: 18px; line-height: 35px;}
.instruction-panel  .payment-content strong{font-family: 'proxima_novabold';}

  
/*payment option panel css
==========*/
.payment-option-panel tr td.col-md-9{ width: 55%;}
.payment-option-panel .panel-default{border: 0; margin-bottom: 20px; width: 100%;}
.payment-option-panel .panel-default .panel-heading{ 
  border: 1px solid #d4d6d7;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #fdfdfd 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#fdfdfd), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#fdfdfd 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#fdfdfd 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#fdfdfd 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 0%,#207cca 0%,#fdfdfd 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.payment-option-panel .panel-default .panel-heading span img{ margin-top: -4px; }
.payment-option-panel .panel-default .panel-heading label { font-size: 17px; }
.payment-option-panel .panel-default .panel-heading label em{ font-size: 15px; }
.payment-option-panel .panel-default .panel-body{ border: 1px solid #d4d6d7; margin-top: 15px;}
.payment-option-panel .panel-default .panel-body .price-table{ border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px; margin-bottom: 15px; font-size: 13px;}
.payment-option-panel .panel-default .panel-body .price-table .lightblue-bg{ background: #e8f1fa; }
.payment-option-panel .panel-default .panel-body .price-table .lightblue-bg .bdr-rgt{ border-left: 1px solid #fff;}
.payment-option-panel .panel-default .panel-body .price-table .table-payment  { border: 0.5px solid #d4d6d7;  border-width: 0.1em; }
.payment-option-panel .panel-default .panel-body .price-table .table-payment  .br-tp{ border-top: 0.5px solid #d4d6d7;  border-width: 0.1em; }
.payment-option-panel .panel-default .panel-body .price-table .table-payment  .col-md-2{ text-align: right;}
.payment-option-panel .panel-default .panel-body .price-table .col-md-8, .col-md-10, .col-md-4, .col-md-2{ padding: 10px;}
.payment-option-panel .panel-default .panel-body .price-table .client-info-wrapper{ padding-bottom: 15px; padding-top: 20px; }
.payment-option-panel .panel-default .panel-body .price-table .client-info{ font-size: 15px; }
.payment-option-panel .panel-default .panel-body .price-table .client-info li{ margin-top: 5px;}
.payment-option-panel .panel-default .panel-body .price-table .client-info li span{ font-family: 'proxima_novaextrabold';}
.payment-option-panel .panel-default .panel-body .btn-pay{ background: #a9b51f; color: #fff; border-radius: 4px; padding: 20px; height: 100%; }
.payment-option-panel .panel-default .panel-body .btn-pay{ background: #a9b51f; color: #fff; border-radius: 4px; padding: 20px; height: 100%; }
.payment-option-panel .meet-up-sched{ background: #f6f7f8; border-bottom: 1px solid #ddd; margin-top: -15px; margin-bottom: 15px; }
.payment-option-panel .meet-up-sched .row{ padding: 5px; } 
.payment-option-panel .meet-up-sched .sched-info{ padding: 10px; height: 35px !important; border-radius: 3px !important; font-size: 14px !important} 

  
/*payment option panel css
==========*/
.package { padding: 0 !important; }
.package .list-group { border: 0; color: #fff; }
.package .list-group .list-group-item{border: 0; padding-top: 15px; padding-bottom: 15px; margin-bottom: 0;}
.package .list-group .list-group-item:first-of-type, .list-group-item:last-of-type{ border-radius: 0; }
.package .list-group .pack-highlighted{ background: #2a334c; border-bottom: 1px solid #141926 !important;}
.package .list-group .pack-highlighted .txt-blue{  color: #11b4e8;}
.package .list-group .pack-highlighted .pack-title{ font-size: 16px; }
.package .list-group .pack-highlighted .badge{ font-size: 18px !important; margin-top: -5px; padding: 5px 15px !important; border-radius: 20px !important;  background: #11b4e8 !important; position: relative;  color: #fff !important; }
.package .list-group .pack-highlighted:last-of-type{  border-bottom: 0 !important; padding-bottom: 30px; padding-top: 25px;}
.package .list-group .pack-info{ background: #191e2c; border-bottom: 1px solid #262d40 !important; font-size: 15px;}

/*step 2 css
==========*/
.brands{ margin: 0; border: 1px solid #d7d7d7; padding: 5px 10px; height: 50px; color: #d7d7d7; border-radius: 4px; width: 100%;}
.title-details { font-family: 'proxima_novasemibold'; font-size: 15px; margin-top: 20px; margin-bottom: 20px; }
.form2{background: #f6f7f8;}
.form2 .col-md-9{border-right: 1px solid #d6d8d9; padding: 50px 20px 100px 20px; background: #fff; width: 70%;}
.form2 .col-md-3{padding-top: 50px; width: 30%;}
.form2 .model-select-box{ height: 50px; width: 100%; line-height: 50px !important; background-position: 95% 20px !important;}
.form2 .model-select-text{background-position: 98% 20px !important;}
.form2 .drop-sizes { width: 90px; }
.form2 .add-size { border-bottom: 1px solid #e7e5e5; padding-bottom: 20px; }
.form2 .add-sizes-link { background: #f0f0f0; padding: 17px 10px; font-size: 15px; color: #706f6f;}
.form2 label span {font-size: 15px;color: #b8b8b8;font-family: 'proxima_regular' !important;}
.form2 .model-select-option{ width: 100%;}
.form2 form button { background: #a9b51f; color: #fff; border-radius: 2px; font-size: 18px; font-family: 'proxima_regular' !important; border: 1px solid #95a013; padding: 10px 30px; margin-top: 15px;}


 #arquivo {
display: block !important;
width: 0 !important;
outline: 0 none !important;
position: absolute !important;
top: 0 !important;
right: 0 !important;
content: "Browse" !important;
background: #f0f0f0 !important;
border-left: 0 !important;
color: #706f6f !important;
padding: 10px 65px 10px 23px !important;
height: 99% !important;
border-radius: 0 4px 4px 0 !important;
}
