.body-wrapper {
	padding-top: 80px;
	padding-bottom: 80px;
}
.body-wrapper h3{
	font-size: 26px;
	color: #868484;
}
.body-wrapper p{
	line-height: 25px;
	margin-bottom: 20px;
}
.sub-header{
	border-bottom: 1px solid #ededed; 
	padding-bottom: 10px;
	font-size: 20px;
}
em{
	color: #a1a0a0;
	font-size: 17px;
}
.blue-txt{
	color: #11b4e8 !important;
}
.blue-txt:hover{
	text-decoration: none;
	cursor: pointer;
}
.testimony-wrapper{
	margin-bottom: 50px;
	margin-top: 50px;
}
.shirtbuyer-wrapper{
	margin-top: 50px;
}