.shirt-details-wrapper{background: #e9e9ed; padding-top: 40px; padding-bottom: 20px;}
.shirt-details-wrapper .media{margin-bottom: 20px;}
.shirt-details-wrapper .media-object{margin-top: 20px;}
.shirt-details-wrapper .media-object{margin-top: 20px;}
.shirt-details-wrapper .media-body p{font-size: 17px;}
.shirt-details-wrapper .shirt-img-wrapper{background: #fff; padding: 15px;}
.shirt-details-wrapper .shirt-img-wrapper img{width: 100%;}
.shirt-details-wrapper .shirtdetails{border: 0; color: #565656 !important;}
.shirt-details-wrapper .shirtdetails .list-group-item h5{font-family: 'proxima_novabold';}
.shirt-details-wrapper .shirtdetails .detail-header span:last-of-type{font-size: 18px;}
.shirt-details-wrapper .shirtdetails .detail-header{border: 0; background: #f6f7f8; padding-top: 20px; padding-bottom: 30px; vertical-align: middle;}
.shirt-details-wrapper .shirtdetails .detail-header .badge{background-color: #ed792e !important; color: #fff; font-size: 19px; border-radius: 15px; padding: 5px 15px;}
.shirt-details-wrapper .shirtdetails .list-group-item{border-radius: 0; border: 0;}
.shirt-details-wrapper .shirtdetails .list-group-item .panel{-webkit-box-shadow: none !important; box-shadow: none !important;}
.shirt-details-wrapper .shirtdetails .list-group-item .row{ padding-top: 20px; padding-bottom: 20px;}
.shirt-details-wrapper .shirtdetails .list-group-item .row:last-of-type{padding-bottom: 20px;}
.shirt-details-wrapper .shirtdetails .list-group-item .sized{border: 1px solid #d3d3d3; text-align: center; width: 35px; border-radius: 4px; margin-right: 10px; color: #d3d3d3; color: #6c6c6c; font-size: 13px; padding: 2px;}
.shirt-details-wrapper .shirtdetails .list-group-item .gender{border: 1px solid #d3d3d3; text-align: center;  border-radius: 4px; margin-right: 10px; color: #d3d3d3; color: #6c6c6c; font-size: 13px; padding: 2px 5px;}
.shirt-details-wrapper .shirtdetails .list-group-item .cl-avail{width: 30px; height: 25px; margin-right: 5px;}
.shirt-details-wrapper .shirtdetails .list-group-item .wh{border: 1px solid #d3d3d3;}
.shirt-details-wrapper .shirtdetails .list-group-item .bl{background: #000;}
.shirt-details-wrapper .shirtdetails .list-group-item .bu{background: #0996c3;}
.shirt-details-wrapper .shirtdetails .list-group-item .sk{background: #00eaff;}
.shirt-details-wrapper .shirtdetails .list-group-item .rd{background: #f72831;}
.shirt-details-wrapper .shirtdetails .list-group-item .gr{background: #76c20a;}
.shirt-details-wrapper .full-img-wrapper {width: 69.666667% !important;}
.shirt-details-wrapper .full-img-wrapper .shirt-img-wrapper p{margin-top: 10px;}
.shirt-details-wrapper .full-img-wrapper .shirt-img-wrapper p img{width: 15px; margin-top: -7px;}
.shirt-details-wrapper .full-img-wrapper .shirt-img-wrapper p .center-dot{font-size: 20px; position: relative; top: 3px; margin-right: 5px; margin-left: 5px;}
.shirt-details-wrapper .details-wrapper {width: 30.333333% !important;}
.more-detail{color: #ed792e; font-size: 14px;}
.more-detail:hover{color: #ed792e; text-decoration: none;}
.seller-info {background: #11b4e8; color: #fff;}
.seller-info .media a img{display: block; width: 50px; margin-top: 5px;}
.seller-info .seller-contact{border-top: 1px solid #049acd; border-bottom: 1px solid #049acd; padding-top: 15px; margin-top: 15px; padding-bottom: 15px; margin-bottom: 10px; font-size: 14px;}
.seller-info table {color: #fff;}
.seller-info table tr td{padding-right: 10px; padding-top: 15px;}
.seller-info table tr td .ph-num{background: #fff; color: #000; padding: 3px;}
.seller-info .tell-num{padding-top: 10px;}
.seller-info .tell-num span{padding-right: 10px;}
.seller-info .btn-send-email{width: 100%; background: #049acd; border-radius: 0; font-size: 14px;}
.seller-info .btn-send-email:hover{color: #fff;}
.support-wrapper{border: 1px solid #ddd; background: #fff; padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px;}


/*tshirt preview css
===============*/
.preview-header{margin-bottom: 20px;}
.preview-header a img{margin-top: 10px;}
.proceed-section{padding-top: 20px; background: #fff; padding-bottom: 40px;}
.proceed-section .col-md-12{ padding-top: 20px; text-align: center;}
.proceed-section .col-md-12 .btn-edit{ background: gray; width: 15%; border-radius: 2px; color: #fff; }
.proceed-section .col-md-12 .btn-proceed{ width: 15%; border-radius: 2px; color: #fff;  background: #a9b51f; border: 1px solid #c7cf2a;}