
/* css header start */
.header-wrapper{
	background: #2a334c;
	background-image: -webkit-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	background-image: -moz-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	background-image: linear-gradient(to right, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	-webkit-background-size: 100% 5px;
	-moz-background-size: 100% 5px;
	background-size: 100% 5px;
	background-repeat: no-repeat;
	background-position-y: bottom;

	padding: 30px 0;
}
.header-wrapper a{
	margin-left: 20px;
	color: #fff;
	font-size: 17px;
}
.header-wrapper a:hover{
	text-decoration: none;
	color: #b96636;
	cursor: pointer;
}

.header-wrapper nav{
	font-size: 17px;
}
.header-wrapper nav a{
	margin-left: 20px;
	color: #fff;
}
.header-wrapper nav a:hover{
	text-decoration: none;
	color: #b96636;
}
.header-wrapper nav a button:hover{
	color: #fff;
}
.btn-post{
	background: #a9b51f;
	border: 1px solid #c7cf2a;
}
.search-input{
	margin-left: 20px;
	color: #7f7f7f;
	border-radius: 40px;
	border: none;
	padding: 5px 10px 5px 25px;
	background: url(../img/search-icon.png) no-repeat 10px;
	background-color: #191e2c;
	
}
.search-input:focus{
	margin-left: 20px;
	color: #7f7f7f;
	border-radius: 40px;
	border: none;
	padding: 5px 10px 5px 25px;
	background: url(../img/search-icon.png) no-repeat 10px;
	background-color: #191e2c;
	outline: none; 

}
.header-wrapper span{
	margin-left: 20px; 
	color: #fff;
}

/* css body start */
body{
	font-family: 'proxima_regular' !important;
}
.body-wrapper {
	padding-top: 80px;
	padding-bottom: 80px;
}
.body-wrapper .sendto-back{
	z-index: -1;
}
input{
	outline: 0;
}
textarea{
	outline: 0;
}
/* css footer start */
.footer-wrapper{
	background: #2a334c;
	background-image: -webkit-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	background-image: -moz-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	background-image: linear-gradient(to right, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
	-webkit-background-size: 100% 5px;
	-moz-background-size: 100% 5px;
	background-size: 100% 5px;
	background-repeat: no-repeat;
	background-position-y: bottom;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}
.footer-wrapper p{
	color: #c0bfbf;
	font-size: 16px;
	margin-top: 20px;
}
.footer-wrapper ul li{
	font-size: 16px;
	list-style-type: none;
}
.footer-wrapper ul li a{ 
	text-decoration: none;
	color: #c0bfbf;
}
.footer-wrapper ul li a:hover{ 
	text-decoration: none;
}
.left-footer-nav li a:hover{
	color: #11b4e8;
}
.right-footer-nav li a:hover{
	color: #a9b51f;
}

.social-media-wrapper{
	border-left: 1px solid #242c42;
	z-index: 1
}
.social-media{
	padding: 5px 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.social-media a i{
	background: #fff;
	padding: 8px 15px;
	border-radius: 100%;
	font-size: 20px;
}
.social-media a:hover{
	text-decoration: none;
}
.social-media a span{
	color: #fff;
}
.fb-social{
	background: #436eac;
}
.fb-social a i{
	color: #436eac;
}
.twitter-social{
	padding: 8px 10px;
	background: #0f7ba6;
}
.twitter-social a i{
	padding: 8px 10px;
	color: #0f7ba6;
}
.g-social a i{
	padding: 8px 10px;
	color: #d95353;
}
.g-social{
	background: #d95353;
}
.footer-wrapper .container .row .col-md-4{
	padding-bottom: 50px;
	padding-top: 50px;
}
.footer-wrapper .container .row .col-md-5{
	padding-bottom: 50px;
	padding-top: 50px;
}
.footer-wrapper .container .row .col-md-3{
	padding-bottom: 50px;
	padding-top: 50px;
}
.gborder{width: 20%; height: 3px; float: left;}
.red{ background: #fe473b; }
.green{ background: #a9b51f; }
.blue{ background: #11b4e8; }
.orange{ background: #ed792e; }

/* margins
====================*/
	/*top*/
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-50{margin-top: 50px;}
	/*left*/
.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
	/*bottom*/
.mb-40{margin-bottom: 40px;}

/* common txt
====================*/
.dblue{color: #2a334c; font-weight: 700;}
.links{ color: #11b4e8 !important; }
.txt-green{ color: #a9b51f;}
.txt-gray{color: #999999;}
.txt-red{ color: #fe473b;}
.semibold{font-family: 'proxima_novasemibold'; }

/*padding*/
.pd-lf{ padding: 0;}

/*customized select box*/
ul {
  
  list-style: none;
  
}

.model-select-box {

    width: 225px;

    height: 40px;

    line-height: 40px;

    border: 1px solid #dddada;
  
    float: left;

    text-indent: 5px;

    position: relative;

    border-radius: 4px;

    z-index: 999;

}

.model-select-text {

    height: 27px;

    text-align: left;

    background: no-repeat right 0;

    -moz-user-select: none;

    -webkit-user-select: none;

    user-select: none;

    cursor: pointer;

    background-image: url('../img/arrow-down.png');
    background-position: 95% 15px;
    padding-left: 10px;

}

.model-select-option {
      display: none; 
      padding: 0;
      position: absolute;
      background: #fff;
      width: 225px;
      border: 1px solid #dddada;
      margin-top: 20px;
      border-radius: 4px;
  }
  .model-select-option li {
      height: 40px;
      text-align: left;
      line-height: 40px;
      color: #555;
      cursor: pointer;
      border-bottom: 1px solid #dddada;
      padding-left: 10px;
  }
  .model-select-option li:first-of-type{
      border-radius: 4px 4px 0 0;
  }
  .model-select-option li:last-of-type{
      border-bottom: none;
      border-radius: 0 0 4px 4px ;
  }

 .model-select-option li.seleced {
      background: #11b4e8;
      color: #fff;
  }

.home-select{
	width: 100% !important;
}
.home-select-option{
	width: 100% !important;
}
.sidebar .nav>li>a:hover, .nav>li>a:focus{
	background-color: #1f263c !important;
}
