<div class="body-form">
    <!-- Login Form -->
    <section class ="forms-wrapper">
      <div class="container">
        <div class="row">
          <div class="panel-form">
            <img src="assets/img/teeshirt-form-logo.png">
            <form>

            <!-- <form> -->
              <!-- Fb login -->
              <a href="" ng-click="fblogin()">
                <div class ="fb-login">
                  <img src="assets/img/fb-ico.png">
                  <span>Log in with Facebooks</span>
                </div>
              </a>
              <small  class ="text-center txt-gray">Logging in with Facebook  <span class="txt-red"> is For Buyers Only</span></small>
              <div class="row"> <span class="or">OR</span></div>

              <!-- Form -->
              <div class = "form-input">
                <p><strong>Email Address </strong><strong style="color: red" ng-show="user.error.email">{{user.error.email}}</strong></p>
                <input type ="text" required ng-model="user.email" placeholder ="Email Address">
                <p><strong>Password</strong> <strong style="color: red" ng-show="user.error.password">{{user.error.password}}</strong></p>
                <input type="password" ng-model="user.password" placeholder ="********">
                <small class ="txt-gray">Forgot Your Password? <span class ="txt-green">Change it here</span></small>
              </div>  
              <button class ="btn btn-lg btn-login" ng-click="login(user)"> Log in </button>
              <small class ="text-center txt-gray">Don’t have an account yet? <span class="txt-green">Sign up here</span></small>
            <!-- </form> -->
            </form>
            <small><a href="#/"><span class ="glyphicon glyphicon-home"></span> Back to Homepage</a></small>
          </div>
        </div>
      </div>
    </section>  
</div>