<!--body section-->
<section class ="shirt-details-wrapper">
  <div class="container">

    <!-- Shirt Details heading -->
    <div class="row">
      <div class="col-md-12">
        <div class="media media-mobile">
          <a class="pull-left full-width" href="#">
            <img class="media-object" src="assets/img/img-title.png" alt="">
          </a>
          <div class="media-body full-width">
            <h1>{{details.shirt_name}}</h1>
            <p>By : <span class ="links"> {{details.brand.brand_name}}</span> &#183; Posted : {{details.date_posted}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Shirt details fetured image and details -->
    <div class="row hidden-xs">
      <!-- Image -->
      <div class="col-md-8 col-sm-8 full-img-wrapper">
        <div class="col-md-12">
          <div class ="shirt-img-wrapper">
            <img  src="assets/img/tshirt-preview.png">
            <p>
              <a href="" ng-click="loveShirt(details.id)" class ="links"><span class ="glyphicon glyphicon-heart"> </span> Love</a> 
                <span class ="links center-dot">&#183;</span>
              <a href="" ng-click="shareShirt(details.id)" class ="links"><img src="assets/img/share-ico.png"><span> Share</span></a>
            </p>
          </div>
        </div>
        <div  class="col-md-12">
            <div class="fb-comments" data-href="{{link}}" data-width="{{image_wrapper}}px" data-numposts="70" data-colorscheme="light"></div>
        </div>
      </div>
      <!-- Shirt details -->
      <div class="col-md-4 col-sm-4 details-wrapper" ng-include="templates.details_sidebar"></div>
    </div>

    <div class ="row visible-xs mobile-view-wrapper">
      
        <div class="col-md-12">
          <div class ="shirt-img-wrapper">
            <img  src="assets/img/tshirt-preview.png">
            <p>
              <a href="" ng-click="loveShirt(details.id)" class ="links"><span class ="glyphicon glyphicon-heart"> </span> Love</a> 
                <span class ="links center-dot">&#183;</span>
              <a href="" ng-click="shareShirt(details.id)" class ="links"><img src="assets/img/share-ico.png"><span> Share</span></a>
            </p>
          </div>
        </div>


        <div class="col-md-12 full-width details-wrapper" ng-include="templates.details_sidebar"></div>


        
        <div class="fb-comments" data-href="{{link}}" data-width="{{image_wrapper}}px" data-numposts="70" fb-xfbml-state="rendered" data-colorscheme="light"></div>
        
    </div>
  </div>
</section>

<!--tshirt products-->
<article class ="product-main-wrapper">

  <!--products start-->
  <div class="tab-content">

    <div class="tab-pane active" id="featured">
      <div class="container">
        <div class="row">

          <div class="col-md-12 products">

            <!--row product start-->
            <div class ="product-panel clearfix" ng-include="templates.shirt">

            
            </div>
              
            <!--row product end-->

          </div>

        </div>  
      </div>
    </div>
  </div>

</article>

