<!--body section-->
<section class ="post-panel">
  <div class="container details-container">

    <div class="row">
      <!-- post step 1 panel -->
      <div class="col-md-12 mb-40">
        <h2 class="text-center">Edit Shirt Details</h2>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12 details-wrapper">

      
          <!-- Form for tshirt details -->
          <form>
            <div class="col-md-9 col-md-offset-1">

              <!-- Shirt Image -->
              <label class ="title-details">Shirt Image </label>
              <div class="row">
                <div class="col-md-5 image_preview">
                    <small style="color: red" ng-show="tee.error.image">{{tee.error.image}}</small>
                  <img src="assets/img/edit-img.png" class ="img-responsive">
                </div>
              <div class="col-md-7 pd-lf">
                <fieldset>
                  <input class ="img-size" type="text" name="filename" placeholder="image should be atleast 800x400px" disabled>
                  <input type="file" name="file" id="arquivo">  
                  
                </fieldset>
                  <button ng-click="editPhoto()">Upload</button>
                <p class ="txt-green">Remove Image</p>
              </div>
              </div>


              <!-- Shirt Name -->
              <label class ="title-details">Shirt Name</label>
              <input type ="text" ng-model="tee.shirt_name" value="{{tee.shirt_name}}">
              <label class ="title-details">Type</label>
              <div class="row">
                <div class="col-md-12">
                  <div class="model-select-box">
                   <div class="model-select-text" data-value="">{{details.type}}</div>
                      <ul class="model-select-option">
                          <li ng-repeat="type in sdetails.types" ng-click="changeType(type.id, type.type_name)" data-option="{{type.id}}">{{type.type_name}}</li>
                          
                      </ul>
                  </div>
                </div>
                  
                  
              </div>
              <!-- Occasional Category -->
              <label class ="title-details">Occasional Category <span>- optional</span></label>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="model-select-box">
                   <div class="model-select-text" data-value="">{{details.occasion}}</div>
                      <ul class="model-select-option">
                        <li ng-repeat="occasion in sdetails.occasions"  ng-click="changeOccasion(occasion.id, occasion.name)" data-option="{{occasion.id}}">{{occasion.name}}</li>
                      </ul>
                  </div>
                </div>
              </div>

              <!-- Fabric Used -->
              <label class ="title-details">Fabric Used<span>- optional</span></label>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="model-select-box">
                   <div class="model-select-text" data-value="">{{details.fabric}}</div>
                      <ul class="model-select-option">
                           <li ng-repeat="fabric in sdetails.fabrics" ng-click="changeFabric(fabric.id, fabric.name)" data-option="{{fabric.id}}">{{fabric.name}}</li>
                      </ul>
                  </div>
                </div>
              </div>
             
              <!-- Sizes Available -->
              <label class ="title-details">Sizes Available</label>
              <ul class="list-inline sizes-wrapper">
                  <li ng-repeat="size in sdetails.sizes"><p><input ng-checked="details.sizes.indexOf(size.id) > -1" type="checkbox" id="size{{$index}}"/><label ng-click="selectSize(size.id)" for="size{{$index}}">{{size.name}}</label></p></li>
                  <li><p><input type="checkbox" id="sizex"/><label for="sizex" ng-click="showSize()">Other Sizes</label></p></li>
              </ul>
              <ul class="list-inline add-size" ng-if="other_size">
                <li ng-repeat="a in other_size_selected"><a href="" class ="add-sizes-link" ng-click="removeSize(a)"> {{a}}</a></li>
                <li>
                    <select name="other_size" class ="drop-sizes other_sizes">
                        <option ng-repeat="osize in sdetails.other_sizes" value="{{osize.size}}">{{osize.size}}</option>
                    </select>
                </li>
                <li><a href="" class ="add-sizes-link" ng-click="addSize()">+ Add size</a></li>
              </ul>
              
              <!-- Gender -->
              <label class ="title-details">Sizes Available</label>
              <ul class="list-inline add-size">
                <li ng-repeat="agender in sdetails.gender"><p><input ng-checked="gender.indexOf(agender.name) > -1" type="checkbox" id="gender{{$index}}"/><label ng-click="addGender(agender.name)" for="gender{{$index}}">{{agender.name}}</label></p></li>
              </ul>
              
              <!-- Colors Available -->
              <label class ="title-details">Colors Available</label>
              <ul ng-if="selected_colors" class="list-inline color-pallet">
                    <li ng-repeat="color in selected_colors" ng-click="removeColor(color)"><a href="" class ="cl-pallet" style="background-color: {{color}}"></a></li>
                </ul>
              <ul class="list-inline color-pallet">
                    <li ng-repeat="color in colors" ng-click="addColor(color)"><a href="" class ="cl-pallet" style="background-color: {{color}}"></a></li>
                </ul>
              <a  ng-click="showPicker()" class ="pull-right links">Choose other colors</a>
               <div class="clearfix"></div>                      
                    <div ng-if="picker" class="form-group col-md-3 pull-right">
                       <input type="text" id="hue-demo" class="cpicker" data-control="hue" value="#ff6161">
                       <label ng-click="addNewColor()"> + Add</label>
                   </div>


                 <div class="clearfix"></div>


              <!-- Price -->
              <label class ="title-details">Sizes Available</label>
              <input type ="text" ng-model="tee.price" value="{{details.price}}">

              <!-- Preview Button -->
              <div class="btn-preview-wrapper">
                  <button class ="btn btn-lg pull-right" ng-click="editSave(tee)">Preview</button>
              </div>  
            </div>
          </form>
      </div>
    </div>
  </div>
</section>
<script>
    $(function() {
        selectModel();
    });
</script>