<!--tshirt products-->
<article class ="product-main-wrapper">
  <section class ="links-wrapper" ng-include="templates.filters"></section>
  <!--products start-->
  <div class="tab-content">
    <div class="tab-pane active" id="featured">
      <div class="container">
        <div class="row">
          <div class="col-md-12 products">
            <!--row product start-->
            <div class ="product-panel clearfix" ng-include="templates.shirt"></div>
            <!--row product end-->
          </div>
        </div>  
      </div>
    </div>
  </div>
</article>
<!-- subfooter section -->
<section class ="promo-panel" ng-include="templates.footerlinks"></section>
<!-- testimonial section -->
<section class ="footer-testimonial-panel">

  <div class="container" >
    <div class="row">
      <div class="col-md-12">
        <div class="media">
          <a class="pull-left full-width" href="#">
            <img class="media-object" src="assets/img/circle1.png" alt="">
          </a>
          <div class="media-body full-width">
            <p><i>“When I start using teeshirts.ph, my brand gets more exposure and sales starts to grow vastly. I was really amazed how they were able to bring more customers in just few months that I was not able to bring for a year.” </i></p>
            <p><span class ="links"><i> Crunch Clothing</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>