<!--body section-->
<section class ="post-panel">
    <div class="container details-container">

        <div class="row">
            <!-- post step 1 panel -->
            <div class="col-md-12">
                <h2 class="text-center steps-header">Post Your Shirt Design in Under a Minute</h2>
            </div>

            <div class="col-md-10 col-md-offset-1 step-wrapper">
                <div class="col-md-4 col-sm-4 col-xs-4  step-header head-active">
                    <span ng-if="step==1" class ="stp-count stp-one stp-active" >1</span>
                    <span ng-if="step > 1" class ="stp-count stp-active stp-done"><span class ="glyphicon glyphicon-ok"></span></span>
                    <p>Shirt Details</p>
                </div>
                <div class="col-md-4 col-sm-4  col-xs-4  step-header" ng-class="{'head-active': step > 1}">
                    <span ng-if="step > 2" class ="stp-count stp-active stp-done"><span class ="glyphicon glyphicon-ok"></span></span>
                    <span ng-if="step<=2" class ="stp-count" ng-class="{'stp-active': step == 2}">2</span>
                    <p>Plans & Pricing</p>
                </div>
                <div class="col-md-4 col-sm-4  col-xs-4 step-header" ng-class="{'head-active': step == 3}">
                    <span class ="stp-count" ng-class="{'stp-active': step == 3}">3</span>
                    <p>One Last Step !</p>
                </div>
            </div>
        </div>

        <div class="row " ng-include='template'></div>
    </div>
</section>