<div class="tab-pane active dashboard-content" id="posts">

    <!-- hidden in small devices -->
    <div class="col-md-12 hidden-sm hidden-xs dashboar-nav">
      <nav class ="product-links col-md-6" id="myTab">
        <a class="active navigator" href="#activePost" data-toggle="tab">Active</a>
        <a class ="navigator" href="#featured" data-toggle="tab">Featured</a>
        <a class ="navigator" href="#inActive" data-toggle="tab">In active</a>
        <a class ="navigator" href="#waiting" data-toggle="tab">Waiting for approval</a>
        <a class ="navigator" href="#all" data-toggle="tab" href="">All</a>
      </nav>
      <div class ="col-md-6 col-sm-12 ">
          <div class="model-select-box">
           <div class="model-select-text" data-value="">Default Option</div>
                <ul class="model-select-option">
                     <li data-option="1">sELECT-01</li>
                     <li data-option="2">sELECT-02</li>
                     <li data-option="3">sELECT-03</li>
                     <li data-option="4">sELECT-04</li>
                     <li data-option="5">sELECT-05</li>
                </ul>
          </div>
      </div>
    </div>

    <!-- visible in small devices -->
    <div class="col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs dashboar-nav">
      <nav class ="product-links col-md-6" id="myTab">
        <a class="active navigator" href="#activePost" data-toggle="tab">Active</a>
        <a class ="navigator" href="#featured" data-toggle="tab">Featured</a>
        <a class ="navigator" href="#inActive" data-toggle="tab">In active</a>
        <a class ="navigator" href="#waiting" data-toggle="tab">Waiting for approval</a>
        <a class ="navigator" href="#all" data-toggle="tab" href="">All</a>
      </nav>
    </div>

    <div class="tab-content">
        <!-- Active -->
        <div class="tab-pane active" id="activePost">
          
              <div class ="col-md-4 full-width" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
                <div class ="clearfix shirts">
                  <img src="assets/img/star.png" class ="badges">
                  <!-- control overlay -->
                  <div class ="control-overlay">
                    <!-- controls -->
                    <div class ="controls"> 
                      <span class ="glyphicon glyphicon-align-justify"></span> 
                    </div>
                    <div class ="controls ctrol"> 
                      <span class ="glyphicon glyphicon-pencil"></span> 
                    </div>
                    <!-- control menu -->
                    <div class ="control-menu">
                      <div class="triangle"></div>
                      <p class ="ctrl-list"><a href="#/shirt/edit/{{i}}"><span class ="glyphicon glyphicon-pencil"></span> Edit</a></p>
                      <p class ="ctrl-list"><a href=""><span class ="glyphicon glyphicon-pause"></span> De-Activate</a></p>
                      <p class ="ctrl-list"><a href=""><span class ="glyphicon glyphicon-star"></span> Feature</a></p>
                      <p class ="ctrl-list"><a href=""><span class ="glyphicon glyphicon-trash"></span> Delete</a></p>
                    </div>
                  </div>
                  <div class ="shirts-img">
                    <img src="assets/img/tshirt-preview.png" style ="max-width:100%;">
                  </div>
                  <div class ="price-wrapper clearfix">
                    <span class ="pull-left">P350.00</span>
                    <a class ="pull-right"href="">3450</a> &nbsp;
                    <i class="fa  pull-right fa-share-alt"></i>  &nbsp;
                    <a class ="pull-right"href="">3450</a> &nbsp;
                    <span class ="pull-right glyphicon glyphicon-heart"> </span>&nbsp;
                  </div>
                </div>
                <div class ="product-name">
                    <img src="assets/img/icon.png"><span>Crunch Clothing</span>
                </div>
              </div>
          </div>
        </div>
    
  </div>