<div class="col-md-6 col-sm-6 edit-wrapper">
	<label class="title-details">Brand Name</label>
	<input type="text" ng-model="profile.brand_name">
	<label class="title-details">Old Password</label>
	<input type="text" ng-model="profile.oldpassword">
	<label class="title-details">New Password</label>
	<input type="text" ng-model="profile.newpassword">
	<label class="title-details">Confirm Password</label>
	<input type="text" ng-model="profile.confirmpassword">
	<div class="btn-preview-wrapper">
            <button class="btn btn-lg pull-right" ng-click="updateProfile(profile)">Proceed</button>
        </div>
</div>