<ul class ="nav nav-pills nav-stacked brand-profile">
    <li><img src="assets/img/profile.png"></li>
    <li><h4>Crunch Clothing</h4></li>
    <li><h4 style ="margin-top: -10px;"><small style ="color: #fff;"><i class="fa fa-map-marker"></i> Cebu City, Philippines</small></h4></li>
    <li><a href="" style ="background: #a9b51f; padding: 7px; width: 100%; text-align: center; color: #fff; font-size: 14px;">Post A Shirt</a></li>
  </ul>



  <ul class="nav  nav-stacked right-nav" role="tablist" style ="padding:0; margin: 0;">
    <li><a href="" ng-click="changeTab('posts')" role="tab" data-toggle="tab"><span class=" pull-right">42</span>Post</a></li>
    <li><a href="" ng-click="changeTab('profile')" data-toggle="tab">Edit Profile</a></li>
    
    
  </ul>