
<div class="container">
  <div class="row">
      <div class="col-md-12 ">
        <img class="media-object pull-left" src="assets/img/logo-footer.png" alt="">
        <span class ="pull-right">&copy; 2014 teeshirts.ph. All Rights Reserved</span>
      </div>
  </div>  
</div>