<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-4">
      <img src="assets/img/footer-logo.png">
      <p>
        We are teeshers, Our goal is to help shirt brand owners to give their brands more exposure, more customers , increase of sales and have their own mini-store online. All for FREE.
      </p>
      <p>Copyright teeshirts.ph All screenshots &copy; their respective owners.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="row">
        <div class="col-md-6 media-footer">
          <ul class ="left-footer-nav">
            <li><a href="">Navigate</a></li>
            <li><a href="">About</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="testimonials">Testimonials</a></li>
            <li><a href="">Terms and Conditions</a></li>
            <li><a href="privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-6 media-footer">
          <ul class ="right-footer-nav"> 
            <li><a href="">Get in touch</a></li>
            <li><a href="contact-us">Contact us</a></li>
            <li><a href="">Give feedback</a></li>
            <li><a href="">Advertise</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 social-media-wrapper">
      <div class ="social-media fb-social"><a href=""><i class="fa fa-facebook"></i> <span>Like us on Facebook</span></a></div>
      <div class ="social-media twitter-social"><a href=""><i class="fa fa-twitter"></i> <span>Like us on Facebook</span></a></div>
      <div class ="social-media g-social"><a href=""><i class="fa fa-google-plus"></i> <span>Like us on Facebook</span></a></div>
    </div>
  </div>  
</div>