<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="col-md-12 ">
      <a class="navbar-brand mt-10" href="#/"><img src="assets/img/teeshirt-logo.png"></a>
      <input class ="search-input mt-20 hidden-xs" type ="search" value ="Browse a shirts">
      <a href="" class ="ml-10 hidden-xs">Brands</a>
    </div>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right navigation">
      <li><a href="#" class ="mt-10">What is Tshirt.ph? </a></li>
      <li><a href="#/post"><button class ="btn btn-post">Post A shirts</button></a></li>
      <li ng-if="!isLogin"><a href="#/login" class ="mt-10"> Login</a></li>
      <li ng-if="isLogin">
      <a href="#/dashboard" class ="user-login"><img src="assets/img/profile-img.png"> <i class="fa fa-chevron-down"></i></a> 

        <ul>
          <li><a href="#/post" title="Websites">Post</a></li>
          <li><a href="" title="Webshops">Messages</a></li>
          <li><a href="" title="SEO">Notification</a></li>
          <li><a href="" title="Responsive webdesign">Edit Profile</a></li>
          <li><a href="" title="Responsive webdesign">Online Preferences</a></li>
          <li><a href="" ng-click="logout()" title="Responsive webdesign">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- header border -->
<div>
  <div class ="gborder red"></div>
  <div class ="gborder green"></div>
  <div class ="gborder orange"></div>
  <div class ="gborder blue"></div>
  <div class ="gborder red"></div>
</div>
