<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style ="height: 100%; background: #2a334c;" ng-include="templates.sidebar">            
        </div>
     
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-content" ng-include="templates.content">
            

        </div>

    </div> 
</div>  